* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: rgba(33, 182, 213, 0.5);  /* celeste */
    margin: 0;
    background-image: url("/images/ushuaia-fin-del-mundo.jpeg");
    background-size: cover;
    background-position: 0px 85px;
}

/*        Login.html         */
main {
    width: 100%;
}

.login_header_top_bar {
    background-color: beige;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px;
}

.logo {
    width: 120px;
    padding: 5px;
}

.titulo {
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    color: #fff; /* #fff*/
}

.titulo h2 {
    font-weight: 300;
}

.container_login {
    display: flex;
    justify-content: center;
}

div h3 {
    text-align: center;
    font-size: 20px;
}

.login_form {
    background-color: beige;  /* #fff*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
    padding: 20px;
    width: 80%;
    max-width: 300px;
}

.input {
    margin-bottom: 15px;
    padding: 14px 9px 14px;
    font-size: 16px;

}

.input_box {
    width: 100%;
    padding: 10px 10px;
    border-radius: 25px;

}

.forgot_password_button {
    background: none;
    border: none;
    outline: none;
}

.forgot_password {
    text-align: center;
    margin-bottom: 10px;
}

.forgot_password a {
    text-decoration: none;
}

.button_login {
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    transition: 200ms;
}

.button_login span {
    font-size: 16px;
}

.button_login:hover {
    background-color: #464d99;
    color: #fff;
}


/*-------     register.html        -----*/
.container_register {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.register_form {
    background-color: beige; /*#fff*/
    border-radius: 5px;
    justify-content: center;
    margin: 20px 0 20px;
    padding: 20px;
    width: 80%;
    max-width: 300px;
}

form {
    justify-content: center;
}

.input_register {
    margin-bottom: 8px;
    padding: 14px 9px 14px;
    font-size: 16px;
}

.button_signup {
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 15px;
    transition: 200ms;
}

.button_signup:hover {
    background-color: #464d99;
    color: #fff;
}

.button_signup span {
    font-size: 16px;
}

/* Footer */
.login_footer {
    /*border: dotted 2px red;*/
    width: 100%;
    /*margin: 10px 0;*/
    /*max-height: 300px;*/
    background-color: beige;
    display: flex;
    position: relative;
    bottom: 0;
    flex-direction: column;
    /*justify-content: space-between;
    align-items: flex-start;*/
}
.header_footer {
    /*border: dotted 2px green;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index_footer .header_footer .hamburguer-button {
    /*border: dotted 2px black;*/
    width: 15px;
    height: 15px;
    margin: 0;
    align-self: flex-start;  
}
.menu_footer {
    display: none;
}
.index_footer .logo {
    /*border: dotted 2px rgb(119, 0, 255);*/
    max-width: 90px;
    max-height: 36px;

}
.body_footer {
    /*border: dotted 2px blue;*/
    margin-top: 4px;
    margin-bottom: 4px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.body_footer form {
    padding: 2px;
    font-size: small;
    font-style: italic;
}
.body_footer button {
    padding: 2px;
    flex-grow: 0.25;
    align-self: flex-start;
}
.iconos_sociales {
    /*border: dotted 2px rgb(255, 0, 179);*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.iconos_sociales img {
    width: 20px;
    height: 20px;
}
.iconos_sociales img:hover {
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    /* Footer */
    
    .header_footer .left_header_menu {
        /*border: dotted 2px black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header_footer .left_header_menu li {
        margin: 5px 8px;
        list-style-type: none;
    }
    .header_footer .left_header_menu li:hover {
        background-color:rgb(195, 236, 158);      
    }
    
    .login_footer .header_footer .hamburguer-button {
        display: none;
    }
    .menu_footer {
        display: block;
    }
    /*.login_footer .logo {
        /*border: dotted 2px rgb(119, 0, 255);*/
        /*max-width: 126px;
        max-height: 50.4px;
    
    }*/
}