*{
    box-sizing: border-box
}

header {
    font-family: 'Roboto', sans-serif;
    }

footer {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    }

.cartMain{
    margin: 0;
    min-height: 450px;
}
body{   
    
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    border: 0;
    padding: 0;
    margin: 0;
   
    }  
 
.headerCart{
    
     background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
    position:static;
    }
.headerCart img{
    display:flex;
    margin: 10px 5px 5px 10px;
    width: 180px;   
}
.navCart{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /* border: 2px solid salmon;*/
    margin: 5px;
}
.navCart img{
    width: 15px;    
    display: flex;
}
.navCenter{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
    display: none;
    /*border: solid blue  2px;*/
}   
.navCenter li{
    padding: 20px;
}

.navRigth{
    display: flex;
    align-items: flex-end;
    list-style: none;
   
    align-self:flex-end;
}
.hamburguer{
    display: flex;
     width: 30px;
    margin: 0;
 align-self: flex-start;
}


main section .h2Cart{

   display: flex;
    margin: 10px;
    padding: 3px;
    font-weight: 400;
    /*border: solid blue 4px;*/
    font-size: 20px;
    margin: 0;
    background-color:  #ebebeb;
}

.porComprar{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: solid yellow 5px*/
    padding: 8x;
    margin: 0px;
    background-color:  #ebebeb;
    
        }
.porComprar a{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 12px;
    text-decoration: none;


}
.porComprar i{
    color:rgb(132 7 7);

}
.porComprar img{
    display: flex;
    width: 15vh;
    align-self:flex-start;
    margin:3px;
    padding: 2px;
    box-shadow: 5px 5px 5px black;
   
 
    }

.porComprar img:hover {
    box-shadow: 10px 10px 10px black;
}
.hr{
    margin: 5px 0px 0px 0px;
    width: 100%;
    border-color: rgb(11, 11, 11) ;

   
}
.texto{
    position: absolute;
    right: 20px;
    top: 50px;
    display: block;
    flex-direction: column;
align-content: flex-end;
    
}
.texto p{
    margin: 3px;
    font-size: 16px;


}
.descuentoCart{
    
    font-style: oblique;
    font-size: 5px;
    align-self: flex-end;
}
.descripcionCart{
    display:flex;
     background-color: beige;
    justify-content: center;
    margin: 3px;
    font-weight: 300;
    font-size: 12px;
    padding: 2px;
    color: rgb(8, 8, 8);
    border: solid 1px  rgb(132 7 7);;
	}



.pagoTotal{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  #ebebeb;
   /*border: solid violet 5px;*/
    align-items: flex-end;
  margin: 0;
}

.textTotal{
    display: flex;
   
    padding: 0;
    margin: 1px;
    font-weight:400;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
    }
.montoTotal{
    font-weight: 400;
    display: flex;
    color:  rgb(22, 22, 22);
    text-decoration: double;
    font-weight:400;
    padding: 0;
    margin: 1px;
    justify-content: center;
    font-size: 20px;
}
.iniciar_compra a{
    text-decoration: none;
    position: relative;
    top: -40px;
}
.iniciar_compra{
    margin-top: 20px;
}

.botonPago{
    background-color:#39b54a;
    border: none;
     font-size: 1em;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 450ms;
    display: flex;
    justify-content: flex-end;
    
    margin: 3px 0px 0px ;
    }



.actionCart {
    position: absolute;
    right: 10px;
    top: 8px;
    color:  rgb(10, 10, 10);
    font-size: 14px;
    
}
.actionCart a{
    position: relative;
    color:  rgb(14, 14, 14); 
  top: 170px;
  margin-right: 0px;
  
    }


/****** cartForm**********/

.pasajeros{
     /* border: solid yellow 3px;*/
    display: flex;
    justify-content:flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ebebeb;
   padding: 15px 20px;
    
}

h4{
    display: flex;
    justify-content:left;
    align-items: flex-start;
    text-align:start;
    margin: 5px;
     /* border: solid rgb(238, 186, 130) 3px;*/
    
}
.cantidadPasajeros{
     /* border: solid violet 3px;*/
    display: flex;
    max-width: max-content;
    flex-direction: row;    
    margin: 5 px;
}
.cantidadPasajeros label  {
     /* border: solid black 3px;*/
    font-size: 12px;
    margin: 5px;
    }
.cantidadPasajeros select{
   
    font-size: 10px;
    width: 30px;
    height: 20px;
}
.datosPasajeros{
    font-size: 8;
    display: flex;
    flex-direction: column;
    max-width:100%;
     /* border: solid red 3px;*/
    }
.datosPasajeros div{
     display: flex;
    margin: 5px;
    flex-direction: column;
     /* border: solid blue 3px;*/
    font-size: 12px;
    margin: 5px;
     width: 100%;
    }

.pasajeros input{
    /* border: solid brown 3px;*/
    display: flex;
   margin-right: 20px;
    font-size: 16px;
    font-style: italic;
    width: 90%;
}
.pasajeros label{
    font-size: 16px;
}
.pago{
    font-size: 8;
    padding:15px 20px;
    display: flex;
    flex-direction: column;
    max-width:100%;
    background-color: #ebebeb;
     /* border: solid red 3px;*/
}
.medioPago{
    font-size: 8;
    display: flex;
   
   
  
}

.medioPago div{

    display: flex;
    max-width: max-content;
    flex-direction: row;    
    margin: 5px;
}
.medioPago label{
    font-size: 16px;
   
}

.pagoTarjeta{
    font-size: 16px;
     /* border: solid green 3px;  */
}

.pagoTarjeta div{
    display: flex;
    margin: 5px;
    flex-direction: column;
     /* border: solid blue 3px;*/
    font-size: 16px;
    margin: 5px;

    }
.pago input{
     /* border: solid brown 3px;*/
    display: flex;
   margin-right: 20px;
    font-size: 16px;
    font-style: italic;
    width: 90%;
    
     }
    

    .bottonForm{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: center;
        margin: 5px;
        }
        .bottonForm a{
           text-decoration: none;
            } 
    .div_boton_form{
        display: flex;
        justify-content: center;
    }
    .botonForm{
        background-color: #39b54a;
        border: none;
         font-size: 1em;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 10px;
        transition: background-color 450ms;
        display: inline-block;
        justify-content: flex-end;
        margin: 3px;
        text-decoration: none;
    }
   
    .botonForm:hover {
        background-color:  rgb(45 149 19)
    }

 /* Footer  */


 .index_footer {

    margin: 10px 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
 }
.header_footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index_footer .header_footer .hamburguer-button {

    width: 15px;
    height: 15px;
    margin: 0;
    align-self: flex-start;  
}
.menu_footer {
    display: none;
}
.index_footer .logo {
 
    max-width: 90px;
    max-height: 36px;
}
.body_footer {
   
    margin-top: 4px;
    margin-bottom: 4px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.body_footer form {
    padding: 2px;
    font-size: small;
    font-style: italic;
}
.body_footer button {
    padding: 2px;
    flex-grow: 0.25;
    align-self: flex-start;
}
.iconos_sociales {
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.iconos_sociales img {
    width: 20px;
    height: 20px;
}
.iconos_sociales img:hover {
    width: 25px;
    height: 25px;
}

/* .... CART FINAL..*/

    .cartMain{
        background-color: #ebebeb;
        margin: 0px;
    }
    .cartMain h1{
        margin: 0;
    }
    h1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 0px;
        color: rgb(7, 7, 7);
        text-decoration:double;
        }
.textFinalCart{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }
    .logoFinal{
        display: flex;
        justify-content: center;
       
    }
    .logoFinal img{
       
        display: flex;
        width: 100px;
        justify-items: center;
        align-items: center;
        align-self: center;
        margin-top: 10px;
       ;
    }

    .logoFinal img {
        animation-duration: 4s;
        animation-name: logo;
        animation-timing-function:linear;
        animation-iteration-count: infinite;
        }
      
        @keyframes logo {
        0% {width: 75px;}  50% {width: 100px;}  100% {width: 200px;} 
        0% {width: 200px;}  50% {width: 10px;}  100% {width: 50px;} 100% {width: 200px;} 
            }
            

/* .... MEDIA QUERIS..*/

@media (min-width: 768px) {
    /* Header */
    
    .hamburguer {
        display: none;
    }
    .headerCart {
        justify-content: space-between;
         }

    .navCart {
        /*border: dotted 2px rgb(0, 255, 47); */
        display: flex;
        justify-content: center;
        width: 768px;
    }
    .navCenter {
        /*border: dotted 2px red;*/
        display: flex;
        flex-direction: row;
        
    }
    
    .navCenter li:hover {
        background-color:rgb(195, 236, 158);      
    }
   
   
    .porComprar a{
      
        top: -40px;
      right: 20px;
        justify-content: flex-end;
        margin-right: 5px;
        font-size: 18px;
        }

    .descripcionCart{
        padding: 8px;
        font-size: 20px;
    }
    .porComprar a img{
         color:rgb(132 7 7);
        font-size: 14px;
        padding: 2px;
    }
    .porComprar img{
        display: flex;
        width: 30vh;
        margin: 2px 10px 
        
        }
    .iniciar_compra a{
        top: -50px;
    
    }
     main section .h2Cart{
         position: relative;

     }
     .cartMain{
       flex-direction: column  ;
       min-height: 800px;
     }
    .sectionCart{
        width: 100%;
        
    }
    .texto{
        top: 100px;
        right: 40px;
        font-weight: 600px;
        
       }

       .texto p {
           font-size: 20px;
       }
    .pagoTotal{
      
        justify-content: center;
        align-items: center;
         font-weight: 300;
         font-size: 24px;
       
        
        }
 
    .botonPago{
        display: inline-block;
        right: 50px;
        bottom: 5px;
       padding: 10px 30px;
       margin: 0px;
       font-size: 28px;
    }
     .actionCart {
        
         top: 300px;
         right: 50px;
         font-size: 8px;
         font-size: 18px;
         
       }
    .actionCart i{
        margin-left: 5px;
    }
    .actionCart a{
       text-decoration: none;
     
    }
        /* Footer */
    
    .header_footer .left_header_menu {
        /*border: dotted 2px black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .header_footer .left_header_menu li {
        margin: 5px 8px;
        list-style-type: none;
    }
    
    .header_footer .left_header_menu li:hover {
        background-color:rgb(195, 236, 158);      
    }
    
    
    .index_footer .header_footer .hamburguer-ton {
        display: none;
    }   
    
    .menu_footer {
        display: block;
    }
    
    .index_footer .logo {
        /*border: dotted 2px rgb(119, 0, 255);*/
        max-width: 126px;
        max-height: 50.4px;
    }

/*-----CartForm----*/
   .cartMain{
       display: flex;
        flex-direction: row;
        justify-content:center;
        
      
       }

    h4{
        padding: 5px;
        margin: 5px;
    }
   
 
    .botonForm{
            display: inline-block;
            font-size: 18px;
            margin-bottom: 10px;
            padding: 20px;
            justify-content: center;
            
            }
 /* CART FINAL */

    .cartMain{
        display: block;
        flex-direction: column;
        }
   
    .textFinalCart{
        margin: 10px;
        padding: 20px;
        }
    /*.logoFinal img{
       
            display: flex;
            width: 100px;
            justify-items: center;
            align-items: center;
            align-self: center;
            margin-top: 10px;
           }
    .logoFinal img {
            animation-duration: 5s;
            animation-name: logo;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
            }
             @keyframes logo {
            0% {width: 75px;}  50% {width: 100px;}  100% {width: 200px;} 
            0% {width: 200px;}  50% {width: 10px;}  100% {width: 50px;} 100% {width: 250px;} 
                }*/
}
 
@media (min-width: 1200px) {
    .navCart{
        max-width: 1200px;
    }
  
     .descripcionCart{
         font-size: 24px;
         font-weight: 600;
     }
    .pagoTotal{
    right: 100px;

    }
   .actionCart{
       margin-top: 10px;
       margin-right: -20px;
   }
    .porComprar a{
        right: 20px;
        top:-40px;
          }
          .porComprar i{
              font-size: 24px;
          }
    .porComprar img{
        position: relative;
        top: -20px;
        left: 20px;
     
    }
    .texto p{
        font-size: 24px;
        font-weight: 500;
    }
     .cartMain{
     
         flex-direction: column;
         justify-content:center;
         margin: 0;
       
       
        }
    .pasajeros{
      
    min-width: none;
    max-width: none;
    /*border: solid yellow 3px;*/
    display: flex;
    padding: 0;
    margin-top: 10px;
 
    border:none;
    margin: 0px;
    font-size: 15px;
   }
   .cantidadPasajeros label{
       font-size: 18px;
   } 
    .datosPasajeros div{
        font-size: 16px;
    } 
    .datosPasajeros input{
    /* border: solid brown 3px;*/
    display: flex;
    margin-right: 20px;
    font-size: 18px;
    font-style: italic;
    width: 90%;
    }
  .pago{
    min-width: none;
    max-width: none;
    /*border: solid yellow 3px;*/
    display: flex;
    padding: 0;
    margin-top: 10px;
    border:none;
    margin: 0px;
    font-size: 15px;
   }
   .medioPago div{
  
   display: flex;
   max-width: max-content;
   flex-direction: row;    
   margin: 5px;
}
.medioPago label{
   font-size: 16px;
 
}


.pagoTarjeta div{
font-size: 16px;

  }
  .pagoTarjeta input{
        /* border: solid brown 3px;*/
    display: flex;
    margin-right: 20px;
    font-size: 18px;
    font-style: italic;
    width: 90%;
   
      }
 .botonPago{
     right: 300px;
 }
  
 .botonForm{
     justify-content: flex-start;
     padding: 10px 60px;
     justify-content: space-around;
   }  
.textFinalCart{
    font-size: 24px;
}
    .cartMain{
        min-height: 800px;
    }
.sectionCart{
    margin-top: 0px;
}
  }
  

