<%- include('./partials/head') %>

<body>
    
<%- include('./partials/header') %>

            <main class="cartMain">
              
                <h1>Compra exitosa</h1>
                <div class="textFinalCart">
                <p>¡Excelente! Confirmamos el pago por tu compra en <strong>Turisteando.</strong></p>
                
                </div>
            
              
            </main>



            <%- include('./partials/footer') %>
</body>
</html>