<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main class="main_contact">
            <figure class="imag_contact">
                <img class= imagen1 src="/images/ushuaiaMain.jpeg" alt="Ushuaia" height="200px" width="300px">
                <img class= imagen2 src="/images/ushuaia-fin-del-mundo.jpeg" alt="Faro" height="200px" width="300px">
                <img class= imagen3 src="/images/Ushuaia-1000-0649.jpeg" alt="Muelle" height="200px" width="300px">
                <img class= imagen4 src="/images/tren-ot-men-ushuaia.jpeg" alt="Tren del Fin del Mundo" height="200px" width="300px">
                <img class= imagen5 src="/images/ushuaia_Diseño-sin-título-2019-12-19T120100.657.png" alt="Atardecer" height="200px" width="300px">
                <img class= imagen6 src="/images/011317-Arakur - Reserva Olivia - Winter.jpeg" alt="Arakur" height="200px" width="300px">
            </figure>
            <section class="body_data">
                <h2>Turisteando</h2>
                <h4>Con nosotros encontraras los mejores paquetes turisticos.</h4>
                <p>Datos de contacto:</p>
                <p>Dirección: Av. Monroe 860, C1428 CABA</p>
                <p>Líneas rotativas: 7555-5099</p>
                <p>Mail: atencion_clientes@turisteando.com.ar</p>
            </section>
        </main>

        <%- include('./partials/footer') %>
           
    </body>

</html>