<!DOCTYPE html>
<html>
    <head>
        <meta chartset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Turisteando</title>
        <!--<link rel="stylesheet" href="/css/styles.css">-->
        <link rel="stylesheet" href="/css/styles_index.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <header class="index_header">
            <a href="#" class="hamburguer-button">
                <img src="/images/bars-solid.svg" alt="hamburguer" >
            </a>
            <img class= "logo" src="/images/logo_turisteando.png" alt="Logo Turisteando">
            
            <nav class="nav_menu1">
                <ul class="ul_1"> 
                     <li><a href="/index">Home</a></li>
                     <li><a href="/packages">Paquetes</a></li>
                     <li><a href="/deals">Ofertas</a></li>
                     <li><a href="/contacto">Contacto</a></li>
                 </ul>
            </nav>
                        
            <nav class="nav_menu2">
                 <ul class="ul_2">
                     <li><a href="./login"><img src="/images/user-solid.svg" alt="Login" ></a></li>
                     <li><a href="/register"><img src="/images/user-plus-solid.svg" alt="registro" ></a></li>
                     <li><a href="/CartFinal"><img src="/images/cart-shopping-solid.svg" alt="carrito" ></a></li>
                 </ul>
            </nav>
        </header>
        <main class="main_contact">
            <figure class="imag_contact">
                <img class= imagen1 src="/images/ushuaiaMain.jpeg" alt="Ushuaia" height="200px" width="300px">
                <img class= imagen2 src="/images/ushuaia-fin-del-mundo.jpeg" alt="Faro" height="200px" width="300px">
                <img class= imagen3 src="/images/Ushuaia-1000-0649.jpeg" alt="Muelle" height="200px" width="300px">
                <img class= imagen4 src="/images/tren-ot-men-ushuaia.jpeg" alt="Tren del Fin del Mundo" height="200px" width="300px">
                <img class= imagen5 src="/images/ushuaia_Diseño-sin-título-2019-12-19T120100.657.png" alt="Atardecer" height="200px" width="300px">
                <img class= imagen6 src="/images/011317-Arakur - Reserva Olivia - Winter.jpeg" alt="Arakur" height="200px" width="300px">
            </figure>
            <section class="body_data">
                <h2>Turisteando</h2>
                <h4>Con nosotros encontraras los mejores paquetes turisticos.</h4>
                <p>Datos de contacto:</p>
                <p>Dirección: Av. Monroe 860, C1428 CABA</p>
                <p>Líneas rotativas: 7555-5099</p>
                <p>Mail: atencion_clientes@turisteando.com.ar</p>
            </section>
        </main>

        <footer class="index_footer_contact">
            <div class="header_footer">
                <a href="#" class="hamburguer-button">
                    <img src="/images/bars-solid.svg" alt="hamburguer" >
                </a>
                <img class= "logo" src="/images/logo_turisteando.png" alt="Logo Turisteando">         
                <nav class="menu_footer">
                    <ul class="left_header_menu"> 
                        <li><a href="/index">Home</a></li>
                        <li><a href="/packages">Paquetes</a></li>
                        <li><a href="/deals">Ofertas</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="body_footer">
                <form class= "form_footer" action="/subscripcion" method="post" id="form_footer">
                    <label for="email">Recibí nuestras ofertas:</label>
                    <input type="email" name="email" id="email" required placeholder="correo electrónico">
                </form>
                <button class= "button_footer" type="submit" form="form_footer" value="Submit">Quiero las ofertas!</button>
            </div>
            <div class="iconos_sociales">
                <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/facebook-square-brands.svg" width="106px" height="122px"alt="Seguinos en Facebook"></a>
                <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/instagram-brands.svg" width="106px" height="122px"alt="Seguinos en Instagram"></a>
                <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/whatsapp-square-brands.svg" width="106px" height="122px"alt="Seguinos en WhatsApp"></a>
                <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/twitter-brands.svg" width="106px" height="122px"alt="Seguinos en Twitter"></a>
                <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/youtube-brands.svg" width="106px" height="122px"alt="Seguinos en YouTube"></a>
            </div>


            
    </footer>
           
    </body>

</html>