<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <section class="deals">
                <h2 class="sheet_title">Ofertas</h2>
                <div class="products">  
                    <article class="first_product">
                        <figure>
                            <img src="/images/FinDelMundo300x200.webp" alt="Fin del Mundo">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Fin del Mundo 7 días</strong></p>
                            <p class="price">Precio: $85.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Fin del Mundo 7 días</strong></p>
                            <p class="price">Precio: $85.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="second_product">
                        <figure>
                            <img src="/images/Iguazu300x200.webp" alt="Iguazú">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Iguazú 4 días - Cataratas lado Argentino y Brasilero</strong></p>
                            <p class="price">Precio: $50.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Iguazú 4 días - Cataratas lado Argentino y Brasilero</strong></p>
                            <p class="price">Precio: $50.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="third_product">
                        <figure>
                            <img src="/images/Ushuaia300x200.webp" alt="Ushuaia">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Ushuaia 3 noches</strong></p>
                            <p class="price">Precio: $40.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Ushuaia 3 noches</strong></p>
                            <p class="price">Precio: $40.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="fourth_product">
                        <figure>
                            <img src="/images/SanRafael300x200.webp" alt="San Rafael">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>San Rafael 4 días</strong></p>
                            <p class="price">Precio: $35.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>San Rafael 4 días</strong></p>
                            <p class="price">Precio: $35.000</p>
                            <p class="discount">Oportunidad: 50% OFF y 12 cuotas</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                </div>     
            </section>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>