<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <div class="error404">
                <!-- <h1>404... Page Not Found, D'oh!</h1> -->
                <img src="/images/404.jpeg" alt="404" >

            </div>
        </main>

        <%- include('./partials/footer') %>

    </body>
</html>