<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <section class="packages">
                <h2 class="sheet_title">Paquetes</h2>
                <div class="products">  
                    <article class="first_product">
                        <figure>
                            <img src="/images/Buenos_aires.webp" alt="Buenos Aires">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Buenos Aires en 5 días</strong></p>
                            <p class="price">Precio: $25.000</p>
                            <p class="discount">Oportunidad: 40% OFF</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Buenos Aires en 5 días</strong></p>
                            <p class="price">Precio: $25.000</p>
                            <p class="discount">Oportunidad: 40% OFF</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="second_product">
                        <figure>
                            <img src="/images/Mendoza.webp" alt="Mendoza">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Visite la ciudad de Mendoza</strong></p>
                            <p class="price">Precio: $36.770</p>
                            <p class="discount">Oportunidad: 10% OFF</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Visite la ciudad de Mendoza</strong></p>
                            <p class="price">Precio: $36.770</p>
                            <p class="discount">Oportunidad: 10% OFF</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="third_product">
                        <figure>
                            <img src="/images/Bariloche300x200.webp" alt="Bariloche">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Bariloche todos los circuitos</strong></p>
                            <p class="price">Precio: $40.000</p>
                            <p class="discount">Oportunidad: 20% OFF</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Bariloche todos los circuitos</strong></p>
                            <p class="price">Precio: $40.000</p>
                            <p class="discount">Oportunidad: 20% OFF</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                    <article class="fourth_product">
                        <figure>
                            <img src="/images/Calafate300x200.webp" alt="Calafate">
                        </figure>
                        <div class="short_detail">
                            <p class="description"><strong>Calafate y Glaciar Perito Moreno</strong></p>
                            <p class="price">Precio: $52.000</p>
                            <p class="discount">Oportunidad: 30% OFF</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                        <div class="long_detail">
                            <p class="description"><strong>Calafate y Glaciar Perito Moreno</strong></p>
                            <p class="price">Precio: $52.000</p>
                            <p class="discount">Oportunidad: 30% OFF</p>
                            <p class="package_detail"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam est pariatur itaque sit, in impedit? Saepe incidunt, earum ipsum aliquid enim quam omnis impedit ducimus mollitia fugiat, praesentium vero nisi.</p>
                            <a class="link" href="/productDetail">Más detalles...</a>
                        </div>
                    </article>
                </div> 
            </section>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>