<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <section >
                <h2 class="title">Ushuaia</h2>
                <article>
                    <figure class="detailPic">
                        <img src="/images/ushuaiaMain.jpeg" alt="Ushuaia" height="200px" width="300px">
                        <img src="/images/ushuaia-fin-del-mundo.jpeg" alt="Faro" height="200px" width="300px">
                        <img src="/images/Ushuaia-1000-0649.jpeg" alt="Muelle" height="200px" width="300px">
                        <img src="/images/tren-ot-men-ushuaia.jpeg" alt="Tren del Fin del Mundo" height="200px" width="300px">
                        <img src="/images/ushuaia_Diseño-sin-título-2019-12-19T120100.657.png" alt="Atardecer" height="200px" width="300px">
                        <img src="/images/011317-Arakur - Reserva Olivia - Winter.jpeg" alt="Arakur" height="200px" width="300px">
                    </figure>
                    </article>
                    <article class="detail">
                        <div class="subtitle_and_button">
                            <div class="subtitle">
                                <div class="product_title">
                                <p><strong>Ushuaia 3 noches</strong></p>
                                </div>
                                <div class="product_price">
                                    <p><strong>$ 40.000</strong></p>
                                </div>
                            </div>
                            <div class="subtitle_button">
                                <button type="submit" class="buy_button" value="Submit"><a class="buy_button" href="/productCart">Agregar al carrito</a></button>
                            </div>
                        </div>
                    <p><strong>El alojamiento ofrece:</strong><ul>
                        <li><img src="/images/dumbbell-solid.svg" alt="Gym" height="15px" width="15px"> Gimnasio</li>
                        <li><img src="/images/wifi-solid.svg" alt="Wi-Fi" height="15px" width="15px"> Wi-Fi gratis en zonas comunes</li>
                        <li><img src="/images/bell-concierge-solid.svg" alt="Room Service" height="15px" width="15px"> Servicio a la habitacion</li>
                        <li><img src="/images/mug-saucer-solid.svg" alt="Breakfast" height="15px" width="15px"> Desayuno</li>
                        <li><img src="/images/elevator-solid.svg" alt="Elevator" height="15px" width="15px"> Ascensor</li>
                        <li><img src="/images/hotel-solid.svg" alt="24hs Reception" height="15px" width="15px"> Recepción 24 hrs</li>
                    </ul></p>

                    <h3> Conocé un poco más</h3>
                    <h4>El paquete inlcuye:</h4>
                    <div>
                        <p><strong>Alojamiento en el Hotel XXX</strong></p>
                        <p>El Hotel XXX se ubica en el centro de la ciudad, en la popular Avenida San Martín. Dispone de centro de negocios, sala de lectura con chimenea y traslados al aeropuerto y por la región con costo adicional.</p>
                        <p>Necesitas saber:<ul>
                            <li>Hay unidades adaptadas para personas con movilidad reducida.</li>
                            <li>El sistema de calefacción de las habitaciones es central.</li>
                        </ul></p>
                        <p>El Buena Vista Bar & Lounge es un restaurante que sirve platos de la cocina típica de la Patagonia y otras especialidades internacionales. El desayuno se ofrece diariamente al estilo buffet y está incluido en la tarifa.</p>
                        <p>Brújula:<ul>    
                            <li>El Hotel XXX está ubicado a 400 m de la Casa del Gobierno y del muelle de Ushuaia, donde hay barcos para paseos turísticos.</li>
                            <li>A 3,5 km del Aeropuerto Internacional de Ushuaia - Islas Malvinas.</li>
                            <li>Queda a 7,5 km del Glaciar Martial.</li>
                            <li>El Cerro Castor se encuentra a 27 km.</li>
                        </ul></p>
                    </div>
                    <div>
                        <p><strong>Condiciones del alojamiento</strong></p>
                        <p>Horarios:<ul>
                            <li>Check In: 15:00</li>
                            <li>Check Out: 10:00</li>
                        </ul></p>
                        <p>Desayuno:<ul>
                            <li>De 07:30 a 10:00</li>
                        </ul></p>
                    </div>
                </article>
            </section>
        </main>

        <%- include('./partials/footer') %>

    </body>
</html>