<%- include('./partials/head') %> 
<body>
  <!-- Navbar (sit on top) -->
  <%- include('./partials/nav_admin') %>


  <!-- Header -->
  <%- include('./partials/header_admin') %>

  
  <h1>Users</h1>

  <!-- Page content -->
  <div class="ps-content">

    
    <!-- Footer -->
    <%- include('./partials/footer_admin') %>
  </div>
</body>
</html>