*{
    box-sizing: border-box
}

header {
    font-family: 'Roboto', sans-serif;
    }

footer {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    }

main{
    min-height: 450px;
}
body{   
    
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    border: 0;
    padding: 0;
    margin: 0;
   
    }  
 
.headerCart{
    
     background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
    position:static;
    }
.headerCart img{
    display:flex;
    margin: 10px 5px 5px 10px;
    width: 180px;   
}
.navCart{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /* border: 2px solid salmon;*/
    margin: 5px;
}
.navCart img{
    width: 15px;    
    display: flex;
}
.navCenter{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
    display: none;
    /*border: solid blue  2px;*/
}   
.navCenter li{
    padding: 20px;
}

.navRigth{
    display: flex;
    align-items: flex-end;
    list-style: none;
   
    align-self:flex-end;
}
.hamburguer{
    display: flex;
     width: 30px;
    margin: 0;
 align-self: flex-start;
}


main section h2{

   display: flex;
    margin: 10px;
    padding: 3px;
    font-weight: 400;
    /*border: solid blue 4px;*/
    font-size: 15px;
    margin: 0;
    border: solid 1px  rgb(132 7 7);;
     
}

.porComprar{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: solid yellow 5px*/
    padding: 8x;
    margin: 5px;
    
        }
.porComprar a{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 12px;

}
.porComprar i{
    color:rgb(132 7 7);
}
.porComprar img{
    display: flex;
    width: 15vh;
    align-self:flex-start;
    margin:3px;
    padding: 2px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(240,249,232) ;
    border: solid 3px beige;
    }

.porComprar img:hover {
    box-shadow: 10px 10px 10px black;
}
hr{
    margin: 5px 0px 0px 0px;
    width: 100%;
    border-color: beige;
}
.texto{
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
}
.texto p{
    margin: 3px;
    font-size: 12px;

}
.descuento{
    
    font-style: oblique;
    font-size: 5px;
    align-self: flex-end;
}
.descripcion{
    display:flex;
     background-color: beige;
    justify-content: center;
    margin: 3px;
    font-weight: 300;
    font-size: 12px;
    padding: 2px;
    color: rgb(8, 8, 8);
    border: solid 1px  rgb(132 7 7);;
	}



.pagoTotal{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
   /*border: solid violet 5px;*/
    align-items: flex-end;
    margin-right: 10px;
    
   
}
.textTotal{
    display: flex;
    padding: 0;
    margin: 1px;
    font-weight:400;
    }
.montoTotal{
    font-weight: 400;
    display: flex;
    color:  rgb(22, 22, 22);
    text-decoration: double;
    font-weight:400;
    padding: 0;
    margin: 1px;
   
}

.botonPago{
    background-color: #646464;
    border: none;
     font-size: 1em;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 450ms;
    display: flex;
    justify-content: flex-end;
    margin: 3px 0px 0px ;
}
.botonPago:hover {
    background-color:  rgb(132 7 7);
}

.actionCart {
    position: absolute;
    right: 10px;
    top: 98px;
    color:  rgb(132 7 7);
    font-size: 12px;
}
.actionCart a{
    color:  rgb(132 7 7); 
    margin-left: 5px;
    }


/****** cartForm**********/

.pasajeros{
     /* border: solid yellow 3px;*/
    display: flex;
    justify-content:flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}

h4{
    display: flex;
    justify-content:left;
    align-items: flex-start;
    text-align:start;
    margin: 5px;
     /* border: solid rgb(238, 186, 130) 3px;*/
    
}
.cantidadPasajeros{
     /* border: solid violet 3px;*/
    display: flex;
    max-width: max-content;
    flex-direction: row;    
    margin: 5 px;
}
.cantidadPasajeros label  {
     /* border: solid black 3px;*/
    font-size: 12px;
    margin: 5px;
    }
.cantidadPasajeros select{
   
    font-size: 10px;
    width: 30px;
    height: 20px;
}
.datosPasajeros{
    font-size: 8;
    display: flex;
    flex-direction: column;
    max-width:100%;
     /* border: solid red 3px;*/
    }
.datosPasajeros div{
     display: flex;
    margin: 5px;
    flex-direction: column;
     /* border: solid blue 3px;*/
    font-size: 12px;
    margin: 5px;
     width: 100%;
    }

.pasajeros input{
    /* border: solid brown 3px;*/
    display: flex;
   margin-right: 20px;
    font-size: 10px;
    font-style: italic;
    
    
}

.pago{
    font-size: 8;
    display: flex;
    flex-direction: column;
    max-width:100%;
     /* border: solid red 3px;*/
}
.medioPago{
    font-size: 8;
    display: flex;
   
}

.medioPago div{
     /* border: solid violet 3px;*/
    display: flex;
    max-width: max-content;
    flex-direction: row;    
    margin: 5px;
}
.medioPago label{
    font-size: 12px;
}

.pagoTarjeta{
    font-size: 8px;
     /* border: solid green 3px;  */
   
 
}
.pagoTarjeta div{
    display: flex;
    margin: 5px;
    flex-direction: column;
     /* border: solid blue 3px;*/
    font-size: 12px;
    margin: 5px;
     width: 100%;
    }
.pago input{
     /* border: solid brown 3px;*/
    display: flex;
   margin-right: 20px;
    font-size: 10px;
    font-style: italic;
    
     }
    

    .bottonForm{
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: center;
        margin: 5px;
        }
    .botonForm{
        background-color: #646464;
        border: none;
         font-size: 1em;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 450ms;
        display: flex;
        justify-content: flex-end;
        margin: 3px;
    }
    .botonForm:hover {
        background-color:  rgb(132 7 7);
    }

 /* Footer  */


 .index_footer {

    margin: 10px 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
 }
.header_footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index_footer .header_footer .hamburguer-button {

    width: 15px;
    height: 15px;
    margin: 0;
    align-self: flex-start;  
}
.menu_footer {
    display: none;
}
.index_footer .logo {
 
    max-width: 90px;
    max-height: 36px;
}
.body_footer {
   
    margin-top: 4px;
    margin-bottom: 4px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.body_footer form {
    padding: 2px;
    font-size: small;
    font-style: italic;
}
.body_footer button {
    padding: 2px;
    flex-grow: 0.25;
    align-self: flex-start;
}
.iconos_sociales {
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.iconos_sociales img {
    width: 20px;
    height: 20px;
}
.iconos_sociales img:hover {
    width: 25px;
    height: 25px;
}

/* .... CART FINAL..*/

    h1{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 30px;
        color: white;
        text-decoration:double;
        background-color:   rgb(132 7 7);

        -webkit-box-shadow: 15px -9px 19px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px -9px 19px -10px rgba(0,0,0,0.75);
        box-shadow: 15px -9px 19px -10px rgba(0,0,0,0.75);

        box-sizing: content-box;
        width: 100%;
        border: solid  10p rgb(132 7 7);
        padding: 10px;

        text-shadow: 2px 2px 3px rgb(161, 155, 155);
        }
    .textFinalCart{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        border: solid 8px beige;
        padding: 40px;

    }
    .logoFinal{
        display: flex;
        justify-content: center;
       
    }
    .logoFinal img{
       
        display: flex;
        width: 100px;
        justify-items: center;
        align-items: center;
        align-self: center;
        margin-top: 10px;
       ;
    }

    .logoFinal img {
        animation-duration: 4s;
        animation-name: logo;
        animation-timing-function:linear;
        animation-iteration-count: infinite;
        }
      
        @keyframes logo {
        0% {width: 75px;}  50% {width: 100px;}  100% {width: 200px;} 
        0% {width: 200px;}  50% {width: 10px;}  100% {width: 50px;} 100% {width: 200px;} 
            }
            

/* .... MEDIA QUERIS..*/

@media (min-width: 768px) {
    /* Header */
    
    .hamburguer {
        display: none;
    }
    .headerCart {
        justify-content: space-between;
         }

    .navCart {
        /*border: dotted 2px rgb(0, 255, 47); */
        display: flex;
        justify-content: center;
        width: 768px;
    }
    .navCenter {
        /*border: dotted 2px red;*/
        display: flex;
        flex-direction: row;
        
    }
    
    .navCenter li:hover {
        background-color:rgb(195, 236, 158);      
    }
   
    .porComprar{
        position: relative;
        left: 20%;
        display: flex;
        flex-direction: column;
        padding: 8x;
        max-width:50vw;
        }
   
    .porComprar a{
        position: relative;
        top: -30px;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
        font-size: 12px;
        }

    .descripcion{
        padding: 8px;
        font-size: 14px;
    }
    .porComprar i{
         color:rgb(132 7 7);
        font-size: 14px;
        padding: 2px;
    }
    .porComprar img{
        display: flex;
        width: 30vh;
        margin: 2px 10px 
        
        }
     main section h2{
         position: relative;
     }
    .texto{
        top: 150px;
      
        }
    .pagoTotal{
        flex-direction: row;
        justify-content: center;
        align-items: center;
         font-weight: 300;
       
        
        }
 
    .botonPago{
        position: absolute;
        right: 30px;
        top: 300px;
       padding: 20px 50px;
        margin-left: 20px;
    }

    
    .actionCart {
         top: 105px;
         font-size: 8px;
         font-size: 14px;
       }
    .actionCart i{
        margin-left: 5px;
    }
    
        /* Footer */
    
    .header_footer .left_header_menu {
        /*border: dotted 2px black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .header_footer .left_header_menu li {
        margin: 5px 8px;
        list-style-type: none;
    }
    
    .header_footer .left_header_menu li:hover {
        background-color:rgb(195, 236, 158);      
    }
    
    
    .index_footer .header_footer .hamburguer-button {
        display: none;
    }   
    
    .menu_footer {
        display: block;
    }
    
    .index_footer .logo {
        /*border: dotted 2px rgb(119, 0, 255);*/
        max-width: 126px;
        max-height: 50.4px;
    }

/*-----CartForm----*/
   main{
       display: flex;
        flex-direction: row;
        justify-content:center;
      
       }

   .pasajeros{
       min-width: 340px;
       max-width: 769px;
    /*border: solid yellow 3px;*/
    display: flex;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(240,249,232) ;
    border: solid 8px beige;
    margin-right: 20px;
    }
    h4{
        padding: 5px;
        margin: 5px;
    }
    .pago{
        min-width: 340px;
        max-width: 769px;
          /*border: solid yellow 3px;*/
        padding: 10px;
        margin-top: 10px;
        background-color: rgb(240,249,232) ;
        border: solid 8px beige;
        margin-left: 20px;
        
      }
    .medioPago{
          /*border: solid rgb(0, 166, 255) 10px;*/
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin: 5px;
        max-width: max-content;
        
    }
    .cantidadPasajeros{
          /*border: solid violet 3px;*/
        display: flex;
       min-width: max-content;
        justify-content: space-between;
        flex-direction: row; 
          }
    .medioPago div{
            /*border: solid violet 3px;*/
            display: flex;
           min-width: max-content;
            justify-content: space-between;
            flex-direction: row; 
        }
    .bottonForm{
            display: flex;
            flex-direction: row;
            font-size: 12px;
            margin-bottom: 10px;
           
            justify-content: center;
            
            }
 /* CART FINAL */

    .final{
       
        display: block;
        flex-direction: column;
     
    }
    h1{
        
        padding: 20px;
    }
    .textFinalCart{
        margin: 10px;
        border: solid 8px beige;
        padding: 20px;
        }
    .logoFinal img{
       
            display: flex;
            width: 100px;
            justify-items: center;
            align-items: center;
            align-self: center;
            margin-top: 10px;
          
        }
    
    .logoFinal img {
            animation-duration: 5s;
            animation-name: logo;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
            }
          
            @keyframes logo {
            0% {width: 75px;}  50% {width: 100px;}  100% {width: 200px;} 
            0% {width: 200px;}  50% {width: 10px;}  100% {width: 50px;} 100% {width: 250px;} 
                }
}
 
@media (min-width: 1200px) {
    .navCart{
        max-width: 1200px;
    }
    
     
    .pagoTotal{
    right: 100px;

    }
    .porComprar{
        left: 20px;
        }
  
    
     main{
        display: flex;
         flex-direction: column;
         justify-content:center;
       
        }
    .pasajeros{
        margin: 20px;
    }
       
  .pago{
      margin: 20px;
   
      
  }
 .botonPago{
     right: 300px;
 }
   bottonForm{
       border: #646464 saddlebrown 3px;
       flex-direction: column;
   }
 .botonForm{
     justify-content: flex-start;
     padding: 20px;
     justify-content: space-around;
   }  
    
  }
  

