 <!-- acciones borrar usuario -->
 <nav class= "iconos">
            <ul class="ul_2_admin">
               
                <li><a href="/admin/user/<%= user.id %>/delete"><img src="/images/trash-can-solid.svg"  ></a></li>
           </ul>
           </nav>