<footer class="index_footer">
    <div class="header_footer">
        <a href="/admin"><img src="/images/logo_turisteando.png" class="logo" alt="Logo Turisteando"></a>
    
    <%- include('menu_principal') %>

    </div>

    <%- include('newsletter') %>

    <%- include('social_media_icons') %>

</footer>