<!DOCTYPE html>
<html>
<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turisteando</title> <!-- Este título debe cambiar según la pestaña -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_index.css">
    <link rel="stylesheet" href="/css/stylesCart.css">
    <link rel="stylesheet" href="/css/styles_login_register.css">
    <link rel="stylesheet" href="/css/style_admin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/a2385b59a3.js" crossorigin="anonymous"></script> 
</head>