<header class="index_header">
    <a href="#" class="hamburguer-button">
        <img src="/images/bars-solid.svg" alt="hamburguer" >
    </a>
    <img class= "logo" src="/images/logo_turisteando.png" alt="Logo Turisteando">
    
    <%- include('menu_principal') %>
    <%- include('menu_iconos') %>
                
    
</header>