<main class="main">
    <form class= "form_main" action="/productSelect" method="GET" id="form_home">
            <label for="selector_paquetes">Paquetes turísticos: </label>
            <select name="paquete">
                <% for (let selector of selector_paquetes) {%>
                    <option value="<%= selector.package_id%>"><%= selector.package_title%></option>
                <% } %>  
            </select name="paquete">
    </form>
    <button class= "boton_main" type="submit" form="form_home" value="Submit">ir al Detalle</button>
</main>