<div id="button-menu_hamburguer" class="button-menu_hamburgue">
  <img src="/images/bars-solid.svg" alt="hamburguer" >
</div>
<nav id="nav_hamburguer" class="main-nav_hamburguer">
  <div id="button-menu_hamburguer_close" class="button-menu_hamburgue_close">
    <img src="/images/xmark-solid.svg" alt="hamburguer" >
  </div>
    <div class="nav-links_hamburguer">
      <a class="link-item_hamburguer" href="/index">Home</a>
      <a class="link-item_hamburguer" href="/packages">Paquetes</a>
      <a class="link-item_hamburguer" href="/deals">Ofertas</a>
      <a class="link-item_hamburguer" href="/contact">Contactos</a>
    </div>
</nav>
<script src="/js/menu_hamburguer.js"></script>


 