<nav class="nav_menu1">
    <ul class="ul_1"> 
         <li><a href="/index">Home</a></li>
         <li><a href="/packages">Paquetes</a></li>
         <li><a href="/deals">Ofertas</a></li>
         <li><a href="/contact">Contacto</a></li>
     </ul>
</nav>