<nav class="nav_menu_admin">
    <ul class="ul_2_admin">
        <li><a href="/admin/producto/<%= paquete.package_id%>""><img src="/images/pencil-solid.svg" alt="Login" ></a></li>
        <li><a href="/admin/producto/<%= paquete.package_id%>/delete"><img src="/images/trash-can-solid.svg" alt="registro" ></a></li>
    </ul>
</nav>