<!-- Navbar (sit on top) -->
<nav class="ps-top">
    <div class="ps-bar ps-white ps-padding ps-card ps-nav">
      <a href="/" class="ps-bar-item ps-button">Turisteando</a>
      <div class="ps-right ps-hide-small">
        <img class= "logo" src="/images/logo_turisteando.png" alt="Logo Turisteando">
      </div>
    </div>
  </nav>