<div class="body_footer">
    <form class="form_footer" action="/subscripcion" method="post" id="form_footer">
        <div class="subscribe">
            <label for="email">Recibí nuestras ofertas:</label>
            <input type="email" name="email" id="email" required placeholder="correo electrónico">
        </div>
        <button class="button_footer" type="submit" form="form_button" value="Submit">Quiero las ofertas!</button>
    </form>
</div>