<div class="iconos_sociales">
    <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/facebook-square-brands.svg" width="20px" height="20px"alt="Seguinos en Facebook"></a>
    <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/instagram-brands.svg" width="20px" height="20px"alt="Seguinos en Instagram"></a>
    <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/whatsapp-square-brands.svg" width="20px" height="20px"alt="Seguinos en WhatsApp"></a>
    <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/twitter-brands.svg" width="20px" height="20px"alt="Seguinos en Twitter"></a>
    <a href="URL DE LA RED SOCIAL" target="_blank"><img src="/images/youtube-brands.svg" width="20px" height="20px"alt="Seguinos en YouTube"></a>
</div> 